h1,h3{
    text-align: top;
   text-align: center;
   color: navy;
}
img {
    border-radius: 8px;
        border-radius: 90%;
}
h1 {
    text-shadow: 2px 2px;
  }
h2,h4{
    text-align: left;
}
.topnav{
    text-align: center;
}
.nav{
    text-align: center;
}
p{
    text-align:center;
}
a{
    text-decoration: none;
}
div{
    background-color: rgba(23, 199, 226, 0.694);
}
ol{
  list-style:none;
	}